# Task in Sales Data Analysis

## Importing all The necessary libraries



### Task #1 - Merging of 12 months of sales data

In [9]:
import pandas as pd
import os #to get list of all the files

In [10]:
filePath = "C:/Users/NANDANGN/Desktop/Python Programming/Python Projects/Pandas/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/Sales_April_2019.csv"


all_months_data = pd.DataFrame()

# iterating all the files in directory
dirPath = "C:/Users/NANDANGN/Desktop/Python Programming/Python Projects/Pandas/Pandas-Data-Science-Tasks-master/SalesAnalysis/Sales_Data/"
for file in os.listdir(dirPath):
  df = pd.read_csv(dirPath+file)
  # we are concatenating all month sales data to new dataframe 
  all_months_data = pd.concat([all_months_data, df])
  

all_months_data.to_csv("all_months_data.csv",index=False)

### Reading the modified data

In [11]:
modifiedData = pd.read_csv("./all_months_data.csv")

modifiedData.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

### Clean Up The Data

1. identify the the NAN values -> modifiedData[modifiedData.isna().any(axis=1)]
2. removing NAN value -> modifiedData.dropna(how='all')

In [14]:
# identify the the NAN values
nan_df = modifiedData[modifiedData.isna().any(axis=1)]
nan_df
modifiedData = modifiedData.dropna(how='all')
# modifiedData[modifiedData.isna().any(axis=1)]
modifiedData

# filtering unwanted value
modifiedData = modifiedData[modifiedData['Order Date'].str[0:2]!="Or"]
modifiedData

# new column to add month
modifiedData['Month'] = modifiedData['Order Date'].str[0:2]

#conversion to int data type
modifiedData['Month'] =  modifiedData['Month'].astype('int32')
modifiedData['Month']

0         4
2         4
3         4
4         4
5         4
         ..
186845    9
186846    9
186847    9
186848    9
186849    9
Name: Month, Length: 185950, dtype: int32

### Task #2 Adding Sales Column

In [41]:
modifiedData['Sales']

array(['04', '05', 'Or', '08', '09', '12', '01', '02', '03', '07', '06',
       '11', '10'], dtype=object)

In [24]:
modifiedData

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",09
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",09
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",09
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",09
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",09

#### Question 1: What was the best month for sales? How much was earned that month?

In [20]:
modifiedData.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object